.ip-info-wrapper{
  margin-top: 50px;
  width: 100%;
  max-width: 700px;
  gap: 30px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ip-data{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.info-section{
  padding: 18px 28px;

  background: #070513;
  border: 2px solid #0F0934;
  border-radius: 10px;
  color: white;
  font-family: system-ui;

  max-width: 100%;
  width: auto;
}

.net-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  white-space: nowrap;
  overflow: hidden;
}
.net-info .ip{
  display: flex;
  width: 100%;
  align-items: center;
  gap: 12px;
}
.net-info small{
  font-size: 16px;
  opacity: .6;
}
.net-info h3{
  font-size: 22px;
}
.net-info p{
  font-size: 14px;
  opacity: .82;
  overflow: hidden;
  text-overflow: ellipsis;
}

.place-info{
  display: grid;
  display: flex;
  gap: 25px;
}
.place-info .text-container{
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  max-width: 300px;
  
  white-space: nowrap;
  overflow: hidden;
}
.place-info .city-and-region{
  font-size: 18px;
  font-weight: 500;
  text-wrap: wrap;
}
.place-info .country{
  font-size: 24px;
  font-weight: 700;
  text-wrap: wrap;
}
.place-info img{
  border-radius: 5px;
  width: 85px;
  height: 90px;
}

.location-info{
  display: flex;
  flex-direction: column;
  gap: 3px;
  white-space: nowrap;
  overflow: hidden;
}
.location-info .lat-lon{
  font-weight: 400;
}
.location-info .time-zone{
  font-weight: 300;
}

.location-info .time-zone, .location-info .lat-lon{
  overflow: hidden;
  text-overflow: ellipsis;
}

.map-wrapper{
  height: 320px;
  width: 320px;
  border-radius: 10px;
}